<form method="POST" action="/new">
    <h4><%= title %></h4>
    <input type="text" name="user" placeholder="author" required>
    <input type="text" name="text" placeholder="message" require>
    <button type="submit">send</button>
</form>